@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* todo revoir couleur  */
@theme {
  /* ===== Fonts ===== */
  --font-poppins: "Poppins", sans-serif;
  --font-quattrocento: "Quattrocento Sans", sans-serif;
  --font-rem: "REM", sans-serif;

  /* ===== Light Mode ===== */
  --color-primary: #2563eb;            /* blue-600 */
  --color-primary-accent: #38bdf8;     /* sky-400 */
  --color-teal: #0d9488;               /* teal-600 (profil) */
  --color-green: #22c55e;              /* green-500 (sport) */
  --color-purple: #a855f7;             /* purple-500 (blog) */
  --color-bg: #f9fafb;                 /* ✅ gray-50 */
  --color-bg-secondary: #f3f4f6;       /* gray-100 */
  --color-bg-light: #f8f8f8;           /* proche gray-50 personnalisé */
  --color-bg-ultralight: #f2f2f2;      /* proche gray-100 personnalisé */
  --color-hover-bg-light: #f1f5f9;     /* gray-100 hover */
  --color-hover-bg-ultralight: #e5e7eb;/* gray-200 hover */
  --color-border: #e5e7eb;             /* gray-200 */
  --color-text: #0f172a;               /* slate-900 */
  --color-text-muted: #475569;         /* slate-600 */

  /* ===== Dark Mode ===== */
  --color-primary-dark: #60a5fa;       /* blue-400/sky-400 sur fond dark */
  --color-primary-accent-dark: #38bdf8;/* sky-400 accent */
  --color-teal-dark: #2dd4bf;          /* teal-400 */
  --color-green-dark: #4ade80;         /* green-400 */
  --color-purple-dark: #c084fc;        /* purple-400 */
  --color-bg-dark: #020617;            /* ✅ sky-950 */
  --color-bg-secondary-dark: #0c4a6e;  /* sky-900 */
  --color-bg-light-dark: #1e293b;      /* slate-800 */
  --color-bg-ultralight-dark: #334155; /* slate-700 */
  --color-hover-bg-light-dark: #475569;/* slate-600 hover */
  --color-hover-bg-ultralight-dark: #64748b; /* slate-500 hover */
  --color-border-dark: #334155;        /* slate-700 */
  --color-text-dark: #f1f5f9;          /* slate-50 */
  --color-text-muted-dark: #cbd5e1;    /* slate-300 */
}




/* scroll bar de expérience */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* clair par défaut */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* clair par défaut */
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}
.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b; /* couleur plus foncée du dark mode */
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155; /* plus foncé que le track */
  border: 2px solid #1e293b;
}


/* big calendar */
.rbc-toolbar {
  @apply flex justify-between items-center p-2 bg-gray-100 rounded-md;
}

.rbc-btn-group button {
  @apply px-3 py-1 rounded-lg border border-gray-300 text-sm hover:bg-gray-200 transition my-2;
}

.rbc-event {
  @apply bg-blue-500 text-white font-semibold rounded-md px-2 py-1;
}

.rbc-today {
  @apply bg-blue-100;
}

.rbc-toolbar-label {
  @apply font-semibold text-lg text-gray-700;
}


