@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* https://chatgpt.com/c/68c962c2-9d60-832c-8ab2-cbc4408895db */

@theme {
  /*  Font  */
  --font-poppins: "Poppins", "sans-serif";
  --font-quattrocento: "Quattrocento Sans", sans-serif;
  --font-rem: "REM", "sans-serif"; 

  /* light mode*/
  --color-primary: #1483d5;
  --color-bg: #ffffff;
  --color-bg-secondary: #f3f9fd;
  --color-bg-light: #f8f8f8;
  --color-hover-bg-light: #f2f2f2;
  --color-bg-ultralight: #f2f2f2;
  --color-hover-bg-ultralight: #ebebeb;
  --color-bg-light-secondary: #e2e2e2;
  --color-text: #0d0d0d;
  --color-text-muted: #4d4d4d;

  /* darkmode */
  --color-primary-dark: #48a7ee;
  --color-bg-dark: #191919; 
  /* sky-950 */
  --color-bg-secondary-dark: #191919;
  --color-bg-light-dark: #262626;
  --color-hover-bg-light-dark: #343434;
  --color-bg-ultralight-dark: #2e2e2e;
  --color-hover-bg-ultralight-dark: #363636;
  --color-bg-light-secondary-dark: #262626;
  --color-text-dark: #f2f2f2;
  --color-text-muted-dark: #cccccc;
} 



/* big calendar */
.rbc-toolbar {
  @apply flex justify-between items-center p-2 bg-gray-100 rounded-md;
}

.rbc-btn-group button {
  @apply px-3 py-1 rounded-lg border border-gray-300 text-sm hover:bg-gray-200 transition my-2;
}

.rbc-event {
  @apply bg-blue-500 text-white font-semibold rounded-md px-2 py-1;
}

.rbc-today {
  @apply bg-blue-100;
}

.rbc-toolbar-label {
  @apply font-semibold text-lg text-gray-700;
}
